services:
  proxy:
    build:
      context: .
      dockerfile: Dockerfile.proxy
    volumes:
      - ./certs:/mixproxy/certs
      - ./.config:/mixproxy/.config
    ports:
      - 443:443
      - 80:80
    restart: unless-stopped
    networks:
      - mixproxy

  admin:
    build:
      context: .
      dockerfile: Dockerfile.admin_panel
    volumes:
      - ./.config:/.config
    restart: unless-stopped
    networks:
      - mixproxy

  redis:
   image: redis:latest
   ports:
     - 6379:6379
   restart: unless-stopped
   environment:
     - REDIS_PASSWORD=mixproxy123
   networks:
     - mixproxy

networks:
  mixproxy:
    external: true
    driver: bridge